.admin-log-bg {
  background: url('https://as2.ftcdn.net/v2/jpg/08/15/81/65/1000_F_815816533_MU29lmFkE2Y6R65nGz1W1y5LvjKyluQg.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

  .admin-login-container {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
  }
  
  .admin-form-container {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .admin-form-container h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffba00;
  }
  
  /* Input field styling */
  .admin-form-row {
    margin-bottom: 15px;
  }
  
  .admin-form-row input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: #fafafa;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .admin-form-row input:focus {
    border-color: #ffba00;
  }
  
  .admin-form-row input::placeholder {
    color: #ddd;
  }
  
  /* Submit button styling */

  
  /* Footer styling */
  footer {
    font-size: 10px;
    color: #888;
    margin-top: 15px;
  }
  
  /* Link styling inside the form */
  .admin-form-container a {
    color: #c3ad07;
    text-decoration: none;
    font-weight: bold;
  }
  
  .admin-form-container a:hover {
    text-decoration: underline;
  }
  