.h-admin-reg-bg {

    background: url('https://c4.wallpaperflare.com/wallpaper/981/204/987/simple-background-wallpaper-preview.jpg') center / cover;
    min-height: 100vh;
    display: flex;
    height: 100vh;

}

.h-reg-box-left {
    width: 50%;
    /* background: rgb(21, 118, 237); */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px; /* Optional padding for better spacing */
}

.h-reg-box-main {
    width: 50%;
    /* background: rgb(255, 255, 255); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
.authentication {
    width: 80%;
    padding: 12px;
    margin: 12px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
  }
  
  /* Add more space below the username field */
  .authentication.password {
    margin-top: 20px; /* Space between username and password */
  }
  
  .form:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  }

.man-icon {
    display: flex;
    height: 80px;
    width: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 1px solid wheat;
    border-radius: 50%;
    margin-bottom: 90px;
}

.man-icon img {
    height: 60px;
   
}

/* Form styling */
.h-reg-box-main input.form-control {
   margin-bottom: 20px;
   width: 300px;
}

button.form-control{
    margin-top: 20px;
}

.h-reg-qoute h2{
    padding: 40px;
}
.h-reg-line{
    height: 600px;
    width: 3px;
    background: white;
}
/* Responsive styling */
@media (max-width: 768px) {
    .h-admin-reg-bg {
        flex-direction: column;
    }

    .h-reg-box-left, .h-reg-box-main {
        width: 100%;
        height: 50vh;
    }

    .man-icon {
        margin-top: 20px;
        margin-right: 0;
    }
}
.h-dont-reg-p{
    color: #ffffff;
    margin-top: 10px;
}
.h-dont-reg-p a{
    color: #36d3f7;
}