.h-form-back-container{
    position: relative;
   top: 100px;
    margin: auto;
    height: 400px;
    width:90%;
    background-color: rgb(197, 197, 197);
    border-radius: 20px;
}

@media (max-width: 768px) {
    .h-form-back-container{
        width: 350px;
    }
}
