/* Signup.css */
.signup-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url('https://images.wallpaperscraft.com/image/single/hotel_room_bed_39745_1920x1080.jpg');
  }
  
  .left-panel {
    flex: 1;
    
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .left-panel h2 {
    font-size: 60px;
    color: #ffba00;
    margin: 0;
  }
  

  .right-panel {
    flex: 1;
    /* background-color: #ffba00; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-container {
    background-color: rgba(0, 0, 0, 0.232);
    border-radius: 22px;
    backdrop-filter: blur(5px);
    overflow-y: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 11px;
    width: 80%;
    max-width: 400px;
    text-align: center;
  }
  
  .form-container h2 {
    font-size: 24px;
    margin: 0;
  }
  
  .form-container p {
    font-size: 12px;
    color: #ffffff;
    margin-top: 10px;
  }
  
  .form-container h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #ffffff;
  }
  .form-container a{
    text-decoration: none;
    color:#c3ad07;
  }
  
  .form-row {
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }
  
  .form-row input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .terms {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #555;
    margin-top: 15px;
  }
  
  .terms input {
    margin-right: 5px;
  }
  
  .terms a {
    color: #2e3a8b;
    text-decoration: none;
  }
  
  .terms a:hover {
    text-decoration: underline;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #c3ad07;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #1d275a;
  }
  
  .social-signup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
  
  .social-signup button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .facebook {
    background-color: #3b5998;
    color: #fff;
  }
  
  .twitter {
    background-color: #1da1f2;
    color: #fff;
  }
  
  footer {
    font-size: 10px;
    color: #555;
    margin-top: 20px;
  }
  .form input{
    border: 0.2px solid white;
    background: transparent;
  }
  .form input::placeholder {
    color: #fafafa;
  }
  