
.logins-container{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url('https://images.wallpaperscraft.com/image/single/hotel_room_bed_39745_1920x1080.jpg');
}
.log-form{
    width: 300px;
}
.log-form input{
    background: transparent;
}
.log-form input::placeholder{
    color: #ffffff;
}
.form-container{
    width: auto;
}
.u-forgot-p a{
   
   color: gold;
}


.u-forgot-p a:hover{
    color: rgb(57, 167, 246);
}
.form-row input{
    background: transparent;
}
.form-row input::placeholder{
    color: rgb(153, 153, 153);
}

.u-reset button{
    margin-top: 30px;
}
.u-password-reset button{
    margin-top: 30px;
}