.h-room-view-id{
    margin-top: 100px;
    height: 300px;
    width: 100%;
    display: flex;
}

.h-room-view-id img{
    height: 300px;
    width: auto;
    object-fit: cover;
    transition: 0.3s;
}

.h-room-view-id img:hover{
    opacity: 0.8;
}

.h-room-view-datas{
    height: auto;
    width: 100%;
    background-color: aqua;
    margin-top: 20px;
}